// Brand Colors
@dsm-grey: #494B4D;
@dsm-white: #BABABA;
@dsm-black: #222324;
@dsm-purple: #8E69C9;
@dsm-green: #68C244;
@dsm-blue: lighten(#336699, 20%);
@dsm-orange: #F08D24;
@dsm-red: #E8341C;
@dsm-yellow: #F2D42C;

// General colors
@syntax-text-color: @dsm-white;
@syntax-cursor-color: #F8F8F0;
@syntax-selection-color: @dsm-grey;
@syntax-background-color: @dsm-black;

// Guide colors
@syntax-wrap-guide-color: rgba(255, 255, 255, .1);
@syntax-indent-guide-color: rgba(255, 255, 255, .15);
@syntax-invisible-character-color: rgba(197, 200, 198, .2);

// For find and replace markers
@syntax-result-marker-color: #888;
@syntax-result-marker-color-selected: white;

// Gutter colors
@syntax-gutter-text-color: @syntax-text-color;
@syntax-gutter-text-color-selected: @syntax-gutter-text-color;
@syntax-gutter-background-color: lighten(@syntax-background-color, 3%);
@syntax-gutter-background-color-selected: @syntax-selection-color;

// For git diff info. i.e. in the gutter
@syntax-color-renamed: #ffd569;
@syntax-color-added: #529b2f;
@syntax-color-modified: #E6DB74;
@syntax-color-removed: @dsm-red;

.editor-colors {
  background-color: @syntax-background-color;
  color: @syntax-text-color;
}

.editor {
  .invisible-character {
    color: @syntax-invisible-character-color;
  }

  .indent-guide {
    color: @syntax-indent-guide-color;
  }

  .wrap-guide {
    background-color: @syntax-wrap-guide-color;
  }

  .gutter {
    background-color: @syntax-gutter-background-color;

    .cursor-line {
      background-color: @syntax-gutter-background-color-selected;
    }
  }

  .line-number.cursor-line-no-selection {
    background-color: @syntax-gutter-background-color-selected;
  }

  .invisible {
    color: @syntax-text-color;
  }

  .cursor {
    border-color: @syntax-cursor-color;
  }

  .selection .region {
    background-color: @syntax-selection-color;
  }

  .search-results .marker .region {
    background-color: transparent;
    border: 1px solid @syntax-result-marker-color;
  }

  .search-results .marker.current-result .region {
    border: 1px solid @syntax-result-marker-color-selected;
  }

  .comment {
    color: @dsm-grey;
  }

  .string {
    color: @dsm-yellow;
  }

  .constant.numeric {
    color: @dsm-purple;
  }

  .constant.language {
    color: @dsm-purple;
  }

  .constant.character,
  .constant.other {
    color: @dsm-purple;
  }

  .keyword {
    color: @dsm-orange;
  }

  .storage {
    color: @dsm-red;
  }

  .storage.type {
    font-style: italic;
    color: @dsm-blue;
  }

  .entity.name.class {
    text-decoration: underline;
    color: @dsm-green;
  }

  .entity.other.inherited-class {
    font-style: italic;
    text-decoration: underline;
    color: @dsm-green;
  }

  .entity.name.function {
    color: @dsm-green;
  }

  .entity.name.instance {
    color: @dsm-blue;
  }

  .variable.parameter {
    font-style: italic;
    color: @dsm-green;
  }

  .entity.name.tag {
    color: @dsm-red;
  }

  .entity.other.attribute-name {
    color: @dsm-green;
  }

  .support.function {
    color: @dsm-blue;
  }

  .support.constant {
    color: @dsm-blue;
  }

  .support.type,
  .support.class {
    font-style: italic;
    color: @dsm-blue;
  }

  .invalid {
    color: #F8F8F0;
    background-color: @dsm-red;
  }

  .invalid.deprecated {
    color: #F8F8F0;
    background-color: @dsm-purple;
  }

  // Jade syntax
  .class.jade {
    color: @dsm-purple;
  }

  .gfm {
    .markup {
      &.heading {
        color: @dsm-green;
        font-weight: bold;
      }

      &.underline {
        color: #E6DB74;
        text-decoration: underline;
      }
    }

    .bold {
      font-weight: bold;
    }

    .italic {
      font-style: italic;
    }

    .raw {
      color: @dsm-blue;
    }

    .variable.list {
      color: @dsm-red;
      font-weight: bold;
    }

    .link {
      color: #CCC;

      .entity {
        color: @dsm-purple;
      }
    }
  }
}
